
<script type="text/javascript">
    $(document).ready(function() {
        $('#events').dataTable({
        });
    });
</script>
<center>
  <div style="width:90%;">
    <table id="events" class="display" cellspacing="0" style="width: 90%; margin-left: auto;margin-right: auto;margin-top: 5px;">
    <thead>
    <tr>
      <th>Location</th>
      <th>Date Reported</th>
      <th>Signs Affected</th>
      <th style="text-align: center;">Number Affected</th>
      <th style="text-align: center;">Number Dead</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% (@events || []).each do |event| %>
     <tr>
       <td><%= event.location_name %></td>
       <td><%= event.date_reported.strftime("%d %b %Y") %></td>
       <td><%= event.description %></td>
       <td style="text-align: center;">0</td>
       <td style="text-align: center;">0</td>
       <td> New</td>
       <td><%= link_to "View",event_path(event) %></td>
     </tr>
    <% end %>
    </tbody>
  </table>
</div>
</center>