<style>
  div.cell{
      border: 1px solid #dcdcdc;
      height: 45vh;
      width: 48vw;
      margin: 5px;
      border-radius: 5px;
  }
</style>
<div class="table">
  <div class="row">
    <div class="cell" style="float: left;">
        <div class="heading">Map of Impacted Area</div>
    </div>
    <div class="cell" style="float: right;">
      <div class="heading">Summary of Impacted Area</div>
    </div>
  </div>
  <div class="row">
    <div class="cell" style="float: left;">
      <div class="heading">Follow Up</div>
    </div>
    <div class="cell" style="float: right;">
      <div class="heading">History</div>
    </div>
  </div>
</div>