/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
div{
    -moz-user-select:none;
    font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}

div.heading{
    background-color: #9999FF;
    height: 3vh;
    text-align: center;
    padding-top: 1vh;
    color: #ffffff;
    border: 1px solid #dcdcdc;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 120%;
    padding-bottom: 1vh;

}

div.footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 3vh;
    background-color: black;
    color: #dcdcdc;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: center;
    font-size: 80%;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

div.header{
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 14vh;
    background-color: #707070 ;
    color: black;
}

div.menu{
    position: absolute;
    top: 75px;
    width: 100vw;
    height: 3vh;
    background-color: black;
    color: #dcdcdc;
    font-size: 80%;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;

}

div.main_content{
    height: 87vh;
    width: 100%;
    margin-top: 14vh;
}
