<!DOCTYPE html>
<html>
<head>
  <title>Epihack Contact Tracing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="margin-left: 0px;">
<div class="header"><h1>&nbsp;&nbsp;CONTACT TRACING  <h1>&nbsp;</div>
<div class="menu">&nbsp;&nbsp; Home | Events | Help</div>

<div class="main_content">
    <%= yield %>
</div>
<div class="footer">EpiHack - Contact Tracing</div>


</body>
</html>
